/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.slideshow-box {
  height: 500px;
  width: 700px;
  margin: 20px auto;
  border: solid 2px black;
}

#image-box {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 60px auto 20px auto;
  height: 350px;
  width: 500px;
}

.pic-one {
  background-image: url('pic1.jpg');
}

.pic-two {
  background-image: url('pic2.jpg');
}

.pic-three {
  background-image: url('pic3.jpg');
}

.pic-four {
  background-image: url('pic4.jpg');
}

.pic-five {
  background-image: url('pic5.jpg');
}

.buttons {
  width: 120px;
  margin: 20px auto;
}
