.social-media {
	margin: 0 auto;
	overflow: auto;
	width: 90%auto;
	padding: 50px;
}

.social-media-button {
	width: 25%;
	float: left;
	background-color: orange;
	outline: solid 1px blue;
	height: 200px;
}
