/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






.header {
  background-color: black;
  height: 70px;
  line-height: 70px;
  color: white;
  padding-left: 150px;
  font-size: 2em;
}

.App {
  border: solid 1px black;
  max-width: 920px;
  margin: 0 auto;
  padding: 20px;

}

.query-div {
  border-bottom: solid 2px black;
  margin-bottom: 10px;
}

.recipe-list {
  float: left;
  width: 50%;
  min-height: 300px;
  margin: 0px;
}

.recipe-item {
  margin-bottom: 20px;
  padding: 10px 5px;
  overflow: auto;
  clear: left;
}

.recipe-item img {
  float: left;
  margin-right: 5px;
  width: 30%;
}

.recipe-item h1 {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}

.recipe-item a {
  cursor: auto;
}

.filter-details{
  float: left;
  padding: 0 0 0 2%;
  width: 68%;
}

.filter-list {
  float: left;
  width: 48%;
  min-height: 300px;
  margin: 0 0 5px 0;
  padding: 0 1%;
}

.filter-list li {
  margin-top: 5px;
  padding: 10px;
}


input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.footer {
  clear: both;
  border-top: solid 2px black;
  padding-top: 5px;
}

li {
  border: solid 1px #DDDDDD;
}
