.banner {
  height: 96px;
  width: 90%;
  margin: 0 5% 0 5%;
  padding-top: 24px;
  padding-bottom: 24px;

}

.site-brand {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
}

.logo {
  background-color: #C6538C;
  width: 128px;
  height: 96px;
}

.nav {
  background-color: #C6538C;
  float: right;
  width: 74.466666%;
  height: 72px;
  margin-top: 12px;
}
