.intro {
  background-color: gray;
  margin: auto 5% auto 5%;
  width: 90%;
  min-height: 203px;
}

.glasses {
  background-color: pink;
  float: left;
  width: 44%;
  margin-right: 5%;
}

.tagline {
  background-color: pink;
  float: left;
  width: 51%;

}
