.intro {

  margin: auto 5% auto 5%;
  width: 90%;
  min-height: 203px;
}

.glasses {
  background-color: #669999;
  float: left;
  width: 44%;
  margin-right: 5%;
  height: 203px;
}

.tagline {
  background-color: #669999;
  float: left;
  width: 51%;
  height: 203px;
}
