@media (max-width: 1024px) {
  .nav {
    height: 60px;
    margin-top: 18px;
  }
}

@media (max-width: 832px) {
  .current-release {
    height: 69.453px;
  }
}

@media (max-width: 766px) {
  .banner {
    height: 69px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .logo {
    width: 64px;
    height: 48px;
  }

  .nav {
    width: 48px;
    height: 48px;
    margin-top: 0;
  }

  .page-header {
    height: 36px;
  }

  .glasses {
    float: none;
    height: 240px;
    margin: 0 auto 24px auto;
  }

  .tagline {
    float: none;
    width: 600px;
    height: 72px;
    margin: 0 auto;
  }

  .features li {
    float: none;
    width: 100%;
    min-height: 120px;
  }

  .legal {
    float: none;
    height: 40px;
    width: 100%;
    margin-top: 10px;
  }

  .tools {
    float: none;
    height: 42px;
    width: 100%;
    margin-top: 10px;
  }

  .social-media {
    float: none;
    height: 57px;
    width: 100%;
    margin-top: 10px;
  }
}
