.features {
  width: 90%;
  height: 360px;
  margin: 0 auto 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.features li {
  background-color: #808C99;
  float: left;
  width: 31%;
  min-height: 168px;
  margin: 1%
}
