/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.class {
  min-height: 100%;
  margin: 0 auto;
  height: auto; }

.alert {
  background-color: #003366;
  height: 48px;
  color: white; }

.banner {
  height: 96px;
  width: 90%;
  margin: 0 5% 0 5%;
  padding-top: 24px;
  padding-bottom: 24px; }

.site-brand {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%; }

.logo {
  background-color: #C6538C;
  width: 128px;
  height: 96px; }

.nav {
  background-color: #C6538C;
  float: right;
  width: 74.466666%;
  height: 48px;
  margin-top: 18px; }

.page-header {
  clear: both;
  background-color: #808C99;
  height: 72px;
  margin-bottom: 24px; }

.intro {
  margin: auto 5% auto 5%;
  width: 90%;
  min-height: 203px; }

.glasses {
  background-color: #669999;
  float: left;
  width: 44%;
  margin-right: 5%;
  height: 203px; }

.tagline {
  background-color: #669999;
  float: left;
  width: 51%;
  height: 203px; }

.current-release {
  height: 21.453px;
  background-color: #C6538C;
  padding: 12px 0 12px 0;
  margin-top: 24px; }

.features {
  width: 90%;
  height: 360px;
  margin: 0 auto 0 auto;
  padding-top: 24px;
  padding-bottom: 24px; }

.features li {
  background-color: #808C99;
  float: left;
  width: 31%;
  min-height: 168px;
  margin: 1%; }

footer {
  clear: both;
  background-color: #D6D4D4;
  height: 144px; }

.footer-info {
  width: 90%;
  overflow: auto;
  margin: 0 auto; }

.legal {
  float: left;
  width: 40%;
  min-height: 96px;
  background-color: gray;
  margin-top: 24px; }

.tools {
  float: left;
  width: 40%;
  min-height: 96px;
  background-color: gray;
  margin-top: 24px; }

.social-media {
  float: left;
  width: 20%;
  min-height: 96px;
  background-color: gray;
  margin-top: 24px; }
