.films-page {
  background-color: black;
}

.films li {
  margin: 10px;
  color: yellow;
  font-family: sans-serif;
  width: 50%;
  margin: 30px auto;
  line-height: 1.25em;
}

.films h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.films h2 {
  font-weight: bold;
  text-align: center;
}
