/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#people-list li {
  border: solid 1px black;
  padding: 10px;
  margin: 5px; }

#people-list h2 {
  font-weight: bold; }

nav {
  background-color: black;
  padding: 20px; }

nav a {
  margin: 15px;
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif; }

.films-page {
  background-color: black; }

.films li {
  margin: 10px;
  color: yellow;
  font-family: sans-serif;
  width: 50%;
  margin: 30px auto;
  line-height: 1.25em; }

.films h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.films h2 {
  font-weight: bold;
  text-align: center; }

.planets-list li {
  border: solid 1px black;
  margin: 10px;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left; }

.planets-list h1 {
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif; }
