nav {
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: bold;
  display: none;
  color: red;
}


#page-number {
  background-color: red;
  color: white;
  width: 25px;
  height: 20px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  margin: 0 8px;
}




.grayed {
  color: gray;
}
