body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  width: 50%;
}

.complete {
  text-decoration: line-through;
  font-style: italic;
  color: #777;
}

.listInput {
  margin: 10px;
}

.itemList li {
  margin: 5px;
  list-style: none;
}

.itemList {
  padding: 0;
}

.itemList button {

}
