/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  background-color: #ECE5D3;
  min-height: 2000px;
}

h1 {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  /*height: 50px;*/
  width: 300px;
  margin: auto;
	background-image: url('logo-background.png');
	background-size: 100%;
  /*background-color: #C42829;*/
  text-align: center;
  padding: 37px 0 37px 0;
  transition: height 2s, width 2s, padding 2s;
}

.header-transition {
  /*height: 25px;*/
  width: 200px;
  padding: 22px 0 22px 0;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #A2B8A3;
  text-align: center;
  padding: 25px;
}



#top-left {
  position: fixed;
	width: 400px;
	height: 320px;
  top: 0px;
  left: 0px;
  transition: margin-left 2s, margin-top 2s;
}

.top-left-transition {
  margin-left: -30px;
	margin-top: -20px;
}

#top-right {
  position: fixed;
	width: 500px;
	height: 320px;
  top: 0px;
  right: 0px;
  transition: margin-right 2s, margin-top 2s;
}

.top-right-transition {
  margin-right: -30px;
	margin-top: -20px;
}

#bottom-left {
  position: fixed;
	width: 430px;
	height: 260px;
  bottom: 50px;
  left: 0px;
  transition: margin-left 2s;
}

.bottom-left-transition {
  margin-left: -60px;
}

#bottom-right {
  position: fixed;
	width: 320px;
	height: 260px;
  bottom: 50px;
  right: 0px;
  transition: margin-right 2s;
}

.bottom-right-transition {
  margin-right: -60px;
}
